<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="utf-8">
    <title>Liste des Espèces</title>
</head>

<body>
<table class="mainTable">
    <thead>
    <!-- Table header -->
    <tr>
        <th>Common Name</th>
        <th>Latin Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="speciesItem : ${speciesList}">
        <td>
            <a th:href="@{'/species/' + ${speciesItem.id}}" th:text="${speciesItem.commonName}"></a>
        </td>
        <td>
            <a th:href="@{'/species/' + ${speciesItem.id}}" th:text="${speciesItem.latinName}"></a>
        </td>
        <td>
            <a th:href="@{'/species/delete/' + ${speciesItem.id}}"
               onclick="return confirm('Êtes-vous sûr ?')">🗑️</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <button type="button" onclick="window.location='/species'">Retour</button>
    <button type="button" onclick="window.location='/species/create'">Ajouter une espèce </button>
</div>

</body>
</html>
