<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="utf-8">
    <title>Modifier l'Espèce</title>
</head>

<body>
<form th:object="${species}" th:action="@{/species}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label for="commonName">Nom Commun :</label>
        <input type="text" th:field="*{commonName}" id="commonName" />
    </div>
    <div>
        <label for="latinName">Nom latin :</label>
        <input type="text" th:field="*{latinName}" id="latinName" />
    </div>
    <div>
        <input type="submit" class="button" value="Mettre à jour" />
        <input type="button" class="button" value="Retour" onclick="window.location='/species'" />
    </div>
</form>

</body>
</html>
